.kontent {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: var(--bg);
    overflow: auto;
    text-align: justify;
    font-size: 1.1em;
}

a:active {
    color: var(--navbutton);
}

.page {
    padding: 2% 8%;
}

table {
    margin: 0 auto;
    overflow-y: auto;
    text-align: justify;
    width: 100%;
    border-collapse: collapse; /* bunky nebudou vypadaz zdvojene*/
}

th,
td {
    border: 1px solid var(--nav);
    padding: 5px 10px;
    border-collapse: collapse; /*bunky se budou zalamovat dle stránky a nebudou presahovat dohaje*/
}


tr:nth-child(even) {
    background: var(--subnav);
}

td {
    vertical-align: top;
    font-size: 1.1em;
}

td:hover {
    background: #f3f7ff;
}
.year{
    white-space: nowrap;
    background: var(--kontrast1);
}
.year:hover {
    background: var(--kontrast1);
}

td a {
    flex: 1;
    display: flex;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--kontrast1);
    transition-duration: 0.4s;
    background: var(--navbutton);
}

button:hover {
    background: var(--kontrast1);
    color: var(--navbutton);

}

.page>h1 {
    font-size: 2rem;
    margin-bottom: 1%;
}


.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--menu) var(--idk);
}

/*dva druhy separatorů*/
.separator {
    width: 100%;
    margin: auto;
    margin-bottom: -10px;
    border-top: 3px double var(--kontrast2);
    overflow: visible;
    text-align: center;
    padding-top: 2px;
}

.separator::after {
    content: '♡ ♡ ♡';
    background: var(--bg);
    padding: 0 5px;
    position: relative;
    top: -13px;
    z-index: 2;
}

.small_separator {
    border-top: 1px solid var(--idk);
    width: 90%;margin: auto;
}

/*styly pro ul li buňky*/
.item {
    background: var(--subnav);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.item>h3 {
    background: var(--idk);
    padding: 1% 2%;
    color: var(--subnav);
    font-size: 1.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

.item>ul {
    padding: 0 30px 20px 30px;
}

/* styly pro rozvrh */
.notinline {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

#dayViewButtons {
    display: flex;
    gap: 10px;
}

/*styly pro navigacni strukturu, ktera ale neni aplikovana protoze neni na strance slozita struktura*/
.tree {
    width: 100%;
    background: var(--subnav);
    padding: 3px 0;
    margin: 0;
}

.tree>a::after {
    content: ">>";
    margin-left: 5px;
    margin-right: 5px;
    text-decoration-line: none;
    pointer-events: none;
}

/*medailonek pouzivany pouze na strance medailonka*/
.medailonek {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    background: var(--subnav);
    padding: 10px;
}
.medailonek>div{
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap:10px;
    justify-content: space-between;
}


.item2 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing:border-box;
    background: var(--bg);
    display: flex;
    flex-direction: column;
}

.item2>h3 {
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    box-sizing:border-box;
    background: var(--menu);
    margin: 0;
    padding: 5px 15px;
    font-size: 1.3rem;
}

.item2>ul {
    margin: 0;
    padding: 10px 30px 10px 30px;
    
}
.item2>p{
    margin: 5%;
    padding: 0;
}
.item2>img{
    object-fit: contain;
    max-height: 32vh;
    width: auto;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    
}

@media screen and (max-width: 925px) {
    .medailonek {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .vlevo img {
       height: 50vh;
       width: auto;
       
    }
}